Project-02.02-Node-RED/Flow-8-MQTT_Aggregation.json
[
    {
        "id": "c7ce18966b1a67ab",
        "type": "subflow",
        "name": "Subflow 1 - Temperature Converter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 140,
                "wires": [
                    {
                        "id": "3d3f05f82847c5c2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 280,
                "wires": [
                    {
                        "id": "95c8577b0b2c111f",
                        "port": 0
                    },
                    {
                        "id": "ead939118a8d538b",
                        "port": 0
                    },
                    {
                        "id": "3d3f05f82847c5c2",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f6ab385c8ff91783",
        "type": "comment",
        "z": "c7ce18966b1a67ab",
        "name": "A function to convert temperature unit",
        "info": "A function to convert temperature unit",
        "x": 170,
        "y": 20,
        "wires": []
    },
    {
        "id": "95c8577b0b2c111f",
        "type": "function",
        "z": "c7ce18966b1a67ab",
        "name": "Fahrenheit to Celsius Converter",
        "func": "// Fahrenheit to Celsius conversion formula\nvar fahrenheit = msg.payload.value;\nvar celsius = (fahrenheit - 32) * 5 / 9;\n\n// Set the payload to the result\nmsg.payload = {\n    value: parseFloat(celsius.toFixed(2)),\n    unit: 'C',\n    timestamp: msg.payload.timestamp\n}\n\n// Return the message object to the next node\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ead939118a8d538b",
        "type": "function",
        "z": "c7ce18966b1a67ab",
        "name": "Kelvin to Celsius Converter",
        "func": "var kelvin = msg.payload.value;\nvar celsius = kelvin - 273.15;\n\n// Set the payload to the result\nmsg.payload = {\n    value: parseFloat(celsius.toFixed(2)),\n    unit: 'C',\n    timestamp: msg.payload.timestamp\n}\n\n// Return the message object to the next node\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3d3f05f82847c5c2",
        "type": "switch",
        "z": "c7ce18966b1a67ab",
        "name": "",
        "property": "payload.unit",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "95c8577b0b2c111f"
            ],
            [
                "ead939118a8d538b"
            ],
            []
        ]
    },
    {
        "id": "21ce786879445a5e",
        "type": "tab",
        "label": "Flow 8- MQTT - Aggregation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "21ce786879445a5e",
        "name": "",
        "topic": "+/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e284a20b36344733",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "ac4e5a778da6b26c"
            ]
        ]
    },
    {
        "id": "function_parse",
        "type": "function",
        "z": "21ce786879445a5e",
        "name": "Calculate Average per Device",
        "func": "let topicParts = msg.topic.split('/');\nlet deviceId = topicParts[0];\nlet sampleCount = 2;\n\n// Initialize device data storage and counter if not already present\nif (!flow.get(deviceId)) {\n    flow.set(deviceId, { values: [], counter: 0 });\n}\n\nlet deviceData = flow.get(deviceId);\n\ndeviceData.values.push(msg.payload.value);\n\nif (deviceData.values.length >= sampleCount){\n    let sum = deviceData.values.reduce((acc, val) => acc + val, 0);\n    let average = sum / deviceData.values.length;\n    // Send the average temperature\n    node.send({\n        payload: {\n            deviceId,\n            average: Number.parseFloat(average.toFixed(2)),\n            timestamp: new Date().toISOString()\n        }\n    });\n    deviceData.values = [];\n}\n\n// Update the flow variable with the new data\nflow.set(deviceId, deviceData);\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "debug_average"
            ]
        ]
    },
    {
        "id": "debug_average",
        "type": "debug",
        "z": "21ce786879445a5e",
        "name": "Average Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "ac4e5a778da6b26c",
        "type": "subflow:c7ce18966b1a67ab",
        "z": "21ce786879445a5e",
        "name": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "function_parse",
                "3fd616cf155cd116"
            ]
        ]
    },
    {
        "id": "3fd616cf155cd116",
        "type": "debug",
        "z": "21ce786879445a5e",
        "name": "Converted Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "e284a20b36344733",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "172.17.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]