Project-02.02-Node-RED/Flow-6-MQTT_Integration.json
[
    {
        "id": "b421d324ead5ccd3",
        "type": "tab",
        "label": "Flow 6 - MQTT Integration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf38d456bf16502d",
        "type": "mqtt in",
        "z": "b421d324ead5ccd3",
        "d": true,
        "name": "",
        "topic": "+/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e284a20b36344733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "01ad74418b5c5b8a",
                "4ce4e5f9adab4a40"
            ]
        ]
    },
    {
        "id": "01ad74418b5c5b8a",
        "type": "debug",
        "z": "b421d324ead5ccd3",
        "name": "Data from IoT Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ce4e5f9adab4a40",
        "type": "debug",
        "z": "b421d324ead5ccd3",
        "name": "MQTT Topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "e284a20b36344733",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "172.17.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]